<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
</head>

<body>
    <h1>404</h1>
    <a href="/admin/dashboard" class="btn btn-dark">Back To Dashboard</a>
</body>

</html> 