<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tour" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i>
                <span>Tour</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tour" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/tour">
                        <i class="bi bi-circle"></i><span>Tour</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/tour/location">
                        <i class="bi bi-circle"></i><span>Locations</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/tour/category">
                        <i class="bi bi-circle"></i><span>Categories</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#post" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Posts</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="post" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/posts">
                        <i class="bi bi-circle"></i><span>Posts</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/post/category">
                        <i class="bi bi-circle"></i><span>Post Category</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#setting" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gear-fill"></i>
                <span>Settings</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="setting" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/general-settings">
                        <i class="bi bi-circle"></i>
                        <span>General Setting</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/profile-settings">
                        <i class="bi bi-circle"></i>
                        <span>Profile Setting</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/site-settings">
                        <i class="bi bi-circle"></i>
                        <span>Site Setting</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</aside>